<div class="nav-container">
    <mat-toolbar color="primary" class="nav-toolbar">
        <button mat-icon-button (click)="nav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="nav-app-name">Vacation App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="nav-sidenav-container">
        <mat-sidenav #nav mode="side" fixedTopGap="56" opened="opened">
            <mat-nav-list>
                <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon matListIcon>people</mat-icon><a matLine [routerLink]="'/'">Employees</a></mat-list-item>
                <mat-divider mat-inset></mat-divider>
                <mat-list-item routerLinkActive="active"><mat-icon matListIcon>description</mat-icon><a matLine [routerLink]="'form'">Vacation form</a></mat-list-item>
                <mat-divider mat-inset></mat-divider>
                <mat-list-item routerLinkActive="active"><mat-icon matListIcon>list</mat-icon><a matLine [routerLink]="'completed'">Completed forms</a></mat-list-item>
                <mat-divider mat-inset></mat-divider>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>